################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Chess/FileContentIndex/5f99e398-a749-4af5-b39a-3ffb1658a281.vsidx
/.vs/Chess/FileContentIndex/44a76157-e2cf-406a-ac0e-3d40b00828a2.vsidx
/.vs/Chess/FileContentIndex/a968ac0c-0d15-462e-9b68-f1acebf536d9.vsidx
/.vs/Chess/FileContentIndex/cc976f78-4529-4f66-964e-c977e1b2f99e.vsidx
/.vs/Chess/FileContentIndex/e91b8f84-3f01-4085-85b2-15c642a8448e.vsidx
/.vs/Chess/FileContentIndex/d28ce247-4515-4276-89ea-9de3a82fe281.vsidx
/.vs/Chess/FileContentIndex/fcf9ccd7-b06a-4a6e-a402-ca76c671fce0.vsidx
/.vs/Chess/FileContentIndex/34614f30-6ea6-43d4-a722-ee3eb5db01a8.vsidx
/.vs/Chess/FileContentIndex/4304368d-29ca-4097-bbe3-270df40acbf9.vsidx
/.vs/Chess/FileContentIndex/7989c7c0-e2e1-48f1-8633-6b2ff1813f76.vsidx
/.vs/Chess/FileContentIndex/1f5c26d6-c860-474e-be2e-8fc127be5b2c.vsidx
/.vs/Chess/FileContentIndex/4c105a01-7ced-4d23-b539-52f7cfc4d375.vsidx
