################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Chess/FileContentIndex/5f99e398-a749-4af5-b39a-3ffb1658a281.vsidx
